/* custom */
body{font-size:16px;line-height:1.6;overflow-y:scroll} /* line-height:1.5;letter-spacing:1.8px */
h1,h2,h3,h4,h5,h6{margin-top:2.4rem}
hr{margin:3.6rem 0}
p{margin:1em 0}
pre{overflow:hidden;overflow-x:auto;line-height:1.5}
a:hover, a:focus, .article-info a:hover{color:#fcbc0e;border-bottom:1px solid}
.container{width:90%;max-width:720px}
header h1{font-size:18px}
main h1{margin-top:1.4em;margin-bottom:1.2em}
footer{font-size:13px;text-align:right}
.article-categories a{color:#333}
.article-tags a{color:#1d60a3}
.post-short-list .article-info{margin-top:2px}
.post .article-info{margin-top:2.4em}

.txt_red{color:#ef5350}
.txt_green{color:#42b983}
.txt_blue{color:#2d80f3}