/* custom */
body{font-size:16px;line-height:1.6;overflow-y:scroll} /* line-height:1.5;letter-spacing:1.8px */
h1,h2,h3,h4,h5,h6{margin-top:2.4rem}
hr{margin:3.6rem 0}
p{margin:1rem 0}
pre{margin:1rem 0 0.6rem;overflow:hidden;overflow-x:auto;line-height:1.5}
.highlight+p{margin-top:0.6rem}
p+.highlight pre, p+pre{margin-top:2rem}
a{color:#42b983;transition:color 0.3s}
a:hover, a:focus, .article-info a:hover{color:#fcbc0e;border-bottom:1px solid}
.container{width:90%;max-width:760px}
header h1{font-size:18px}
main h1{margin-top:2.4em;margin-bottom:1.2em}
article header h1{margin-top:2em}
footer{font-size:13px;text-align:right}
.article-categories a{color:#333}
.article-tags a{color:#1d60a3}
.post .content h2{font-size:1.3em}
.post .content h3{font-size:1.2em}
.post .content h4{font-size:1.1em}
.post .content h1::before,
.post .content h2::before,
.post .content h3::before,
.post .content h4::before,
.post .content h5::before,
.post .content h6::before{content:'#';margin-right:2px;font-weight:normal}
.post .content h1::before,
.post .content h2::before{color:#42b983}
.post .content h3::before{color:#fcbc0e}
.post .content h4::before{color:#999}
.post .content h5::before,
.post .content h6::before{color:#bbb}
.post .content table{font-size:0.85em}
.post-short-list .article-info{margin-top:2px}
.post .article-info{margin-top:2.4em}
.txt_red{color:#ef5350}
.txt_green{color:#42b983}
.txt_blue{color:#2d80f3}